<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipr.detector.dao.ITestDao">
    <resultMap id="trademarkDo" type="com.ipr.detector.entity.trademark.Trademark">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="trademark_name" jdbcType="VARCHAR" property="trademarkName"/>
    </resultMap>
    <sql id="allColumnSQL">
        <!-- WARNING - @mbggenerated -->
        id, trademarkbase_id, trademark_type, trademark_name, trademark_en_name,baseinfo_imgs,baseinfo_option,amount,
        discount_amount, paid_amount, paid_time, refund_amount, refund_time, status, return_reason,
        contact_name, contact_phone, contact_address, contact_option, user_id, user_name, extend_one, service_id, case_id,
        follow_status, follow_time, declare_id, declare_time, create_time, update_time, create_guid, trademark_code_number
    </sql>


    <select id="getById" parameterType="java.lang.Integer" resultMap="trademarkDo">
        <!-- WARNING - @mbggenerated -->
        select
        <include refid="allColumnSQL"/>
        from bjdo_trademark
        where id = #{id,jdbcType=INTEGER}
    </select>

</mapper>